* {
    font-family: 'IBM Plex Mono', monospace;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: #060A24;
}

.titulos {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 42px;
}

.parrafos {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    line-height: 22px;
}

header {
    height: 44px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 9;
}

.logo-corp {
    margin-left: 16px;
    margin-top: 10px;
    width: 24px;
    height: 24px;
}

.div-menu {
    display: contents;
    position: absolute;
    float: left;
    width: 100vw;
}

.mobile-menu {
    width: 18px;
    height: 12px;
}

header nav {
    padding: 0em;
}

#menu {
    list-style: none;
    background-color: blue;
    display: none;
    position: fixed;
    width: 100vw;
}

#menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5em;
}

.label-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12px;
    float: right;
    margin-top: 16px;
    margin-right: 19px;
}

.cbox-menu-linea{
    height: 2px;
    width: 15px;
    background-color: #000000;
    transform: translateY(0) rotate(0);
}

#cbox-menu {
    display: none;
}

#cbox-menu:checked ~ .label-menu .cbox-menu-linea.top{
    transform: rotate(45deg);
    transform-origin: left;
}

#cbox-menu:checked ~ .label-menu .cbox-menu-linea.bottom{
    transform: rotate(-45deg);
    transform-origin: left;
}

#cbox-menu:checked ~ .label-menu .cbox-menu-linea.medium{
    display: none;
}

#cbox-menu:checked ~ .nav-principal #menu {
    display: block;
    top: 44px;
}

button {
    background-color: #00F3BB;
    margin:36px auto 0;
    display: block;
    width: calc( 100vw - 32px);
    height: 48px;
    font-size: 16PX;
}

#principal button:hover {
    background-image: linear-gradient(to right, #00f3bb 0%, #0000ff 100%);
}

.world{
    text-decoration: line-through;
}

section{
    padding: 0 16px;
}

#episodios{
    margin-top: 24px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 34px, 100% 0%, 100% calc(100% - 34px), 0 100%);
    padding: 64px 11px 140px;
}

#nosotros{
    margin-top: -100px;
    z-index: 10;
    position: relative;
}

#novedades{
    margin-top: 24px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 34px, 100% 0%, 100% 100%, 0 100%);
    padding: 64px 11px 67px;
    display: inline-block;
    text-align: center;
}

#nosotros img{
    width: 100%;
    padding-bottom: 27px;
}

#episodios .titulos{
    color: white;
    margin-bottom: 10px;
    padding: 5px;
}

#topicos h2{
    font-weight: bold;
    font-size: 24px;
}

#entrevistas{
    padding: 56px 0 0 0;
}

#topicos{
    padding: 48px 0 0 0;
}

#entrevistas img{
    width: 100%;
    display: block;
}

#topicos img{
    padding: 13px 0 13px 0;
}

#topicos article{
    padding: 36px 0 0 0;
    display: block;
    text-align: center;
}

#novedades h1{
    color: #ffffff;
}

iframe{
    padding-bottom: 11px;
}

footer{
    padding: 24px 0;
}

.menu-footer{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

footer nav{
    padding-top: 24px;
}

#copyright{
    font-size: 14px;
    text-align: center;
}

@media screen and (min-width: 640px) {
    header {
        height: 44px;
        display: block;
        width: 100vw;
    }
    .div-menu {
        display: block;
        position: unset;
        float: right;
        width: fit-content;
    }

    .label-menu{
        display: none;
    }

    #menu {
        display: flex;
        justify-content: flex-end;
        background-color: #FFFFFF;
        width: auto;
        position: relative;
    }
    #menu li a {
        color: #000000;
    }
    .li-menu:hover {
        text-decoration: line-through;
        color: #00F3BB;
    }
    
    .li-menu:active {
        text-decoration: line-through;
        color: white;
    }
    .mobile-menu {
        display: none;
    }
    #principal button {
        width: 226px;
        height: 56px;
        margin: 56px 0 0 0;
    }

    .podcasts{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    iframe{
        flex-basis: 45%;
    }
}