*:not(iframe) {
  font-family: "IBM Plex Mono", monospace;
  margin: 0px;
  padding: 0px;
  border: 0px;
  color: #060A24;
  letter-spacing: 0px;
  box-sizing: border-box;
  font-size: 18px; }

.titulos {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  line-height: 42px;
  padding-top: 5px;
  padding-bottom: 5px; }

.parrafos {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.78rem;
  line-height: 22px;
  padding-top: 11px; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  width: 100%;
  height: 44px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 11; }
  header .div-logo {
    height: 1.333rem; }
  header nav {
    display: none; }

.logo-corp {
  width: 1.333rem; }

.div-menu {
  width: 21px;
  padding-right: 3px; }

.mobile-menu {
  width: 18px;
  height: 12px; }

.menu {
  list-style: none;
  background-color: blue;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  top: 44px;
  left: 0px; }
  .menu li a {
    color: white;
    font-size: 0.89rem;
    text-decoration: none;
    display: block;
    padding: 0.5em; }

.label-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 12px; }
  .label-menu span {
    height: 2px;
    width: 18px;
    background-color: #000000;
    transform: translateY(0) rotate(0); }

.cbox-menu {
  display: none; }
  .cbox-menu:checked ~ .label-menu span.top {
    transform: rotate(45deg) translateX(-2px);
    transform-origin: left; }
  .cbox-menu:checked ~ .label-menu span.bottom {
    transform: rotate(-45deg) translateX(-2px);
    transform-origin: left; }
  .cbox-menu:checked ~ .label-menu span.medium {
    display: none; }
  .cbox-menu:checked ~ .nav-principal {
    display: inline; }

.button {
  text-decoration: none;
  background-color: #00F3BB;
  font-size: 0.89rem;
  font-weight: 500;
  line-height: 22px;
  margin: 36px auto 0;
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
  justify-content: space-evenly; }
  .button:hover {
    background-image: linear-gradient(to right, #00F3BB 0%, #0000ff 100%); }

.world {
  text-decoration: line-through; }

section {
  padding: 24px 16px;
  width: 100vw; }

.episodios {
  background-image: linear-gradient(225deg, #0000ff 0%, #0000A3 100%);
  clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0 100%);
  padding: 24px 11px 120px; }
  .episodios .titulos {
    color: #FFFFFF;
    padding-top: 3.555rem;
    padding-bottom: 10px;
    padding-left: 5px; }
  .episodios article {
    padding-top: 11px;
    display: flex;
    flex-direction: column; }
    .episodios article iframe {
      width: 100%;
      min-height: 232px;
      border: 0;
      background-color: transparent; }

.nosotros {
  margin-top: -115px;
  z-index: 10;
  position: relative; }
  .nosotros img {
    width: 100%;
    padding-bottom: 22px; }

.novedades {
  background-image: linear-gradient(225deg, #0000ff 0%, #0000A3 100%);
  clip-path: polygon(0 9vw, 100% 0%, 100% 100%, 0 100%);
  padding: 59px 16px 67px;
  display: inline-block;
  text-align: center; }
  .novedades h1, .novedades h2 {
    color: #fff; }

.entrevistas {
  padding: 25px 0 24px 0;
  padding-top: 9px; }
  .entrevistas img {
    width: 100%;
    display: block; }
  .entrevistas .titulos {
    padding-left: 16px; }

.topicos {
  padding-top: 19px;
  padding-bottom: 6px; }
  .topicos div {
    display: flex;
    flex-direction: column;
    padding-top: 19px; }
  .topicos img {
    padding: 13px 0 8px 0; }
  .topicos article {
    padding-bottom: 36px;
    display: block;
    text-align: center; }
  .topicos h3 {
    font-weight: bold;
    font-size: 1.333rem;
    line-height: 32px; }

iframe {
  padding-bottom: 11px; }

footer {
  padding: 24px 0; }
  footer .copyright {
    font-size: 0.78rem;
    text-align: center;
    line-height: 22px; }
  footer nav {
    padding-top: 16px;
    padding-bottom: 7px; }
    footer nav ul {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      line-height: 28px; }
      footer nav ul li a i {
        font-size: 0.89rem; }

@media screen and (min-width: 800px) {
  header {
    height: 80px;
    width: 100vw;
    padding: 0px 6.94%; }
    header .div-logo {
      height: 2rem; }
    header nav {
      display: inline-block; }

  .logo-corp {
    width: 2rem; }

  .titulos {
    font-size: 2.67rem; }

  .parrafos {
    font-size: 0.89rem;
    line-height: 24px; }

  .principal {
    padding: 120px 12% 0; }
    .principal .titulos {
      font-size: 3.555rem;
      line-height: 84px; }
    .principal .punto {
      color: #0000EC; }
    .principal p {
      width: 60%;
      padding-top: 0px; }
    .principal .button {
      width: 226px;
      height: 56px;
      margin: 56px 0 0 0; }

  .episodios {
    margin-top: 5px;
    padding-top: 100px;
    padding-bottom: 150px;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
    padding: 40px 0 160px; }
    .episodios .titulos {
      padding-left: 200px;
      padding-bottom: 16px;
      padding-top: 86px; }
    .episodios article {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly; }

  .div-menu {
    display: block;
    position: unset;
    float: right;
    width: fit-content; }

  .label-menu {
    display: none; }

  .menu {
    flex-direction: row;
    background-color: #FFFFFF;
    width: auto;
    position: relative;
    top: 0px;
    left: 0px; }
    .menu li a {
      color: #060A24; }
      .menu li a:hover {
        text-decoration: line-through;
        color: #00F3BB; }
      .menu li a:active {
        text-decoration: line-through;
        color: #060A24; }

  .mobile-menu {
    display: none; }

  .nosotros {
    padding: 5% 12%;
    display: flex;
    align-items: center;
    margin-top: -230px;
    justify-content: space-around; }
    .nosotros img {
      width: 42%;
      max-width: 640px; }
    .nosotros p {
      width: 32vw;
      max-width: 800px;
      padding-top: 19px; }

  .entrevistas .titulos {
    padding-left: 12%; }
  .entrevistas article {
    display: flex;
    flex-wrap: wrap;
    padding-top: 36px; }
  .entrevistas img {
    width: 33.33%; }

  .topicos {
    padding: 40px 12%; }
    .topicos div {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 56px; }
    .topicos article {
      width: 260px;
      padding: 0px; }

  .novedades .titulos {
    padding-top: 110px; }
  .novedades .button {
    width: 345px;
    height: 56px; }

  .podcasts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }

  iframe {
    flex-basis: 41%;
    padding-bottom: 72px; }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 100px 31px; }
    footer .copyright {
      font-size: 0.89rem;
      line-height: 28px; }
    footer nav {
      padding: 0px; }
      footer nav ul {
        width: 200px; }
        footer nav ul li {
          font-size: 18px;
          line-height: 28px; } }

/*# sourceMappingURL=styles.css.map */
